<script>
  import * as api from "./Services/ApiService.js";

  let resultinput;
  let originalUrl = "";
  let shortedUrl = "";

  async function submit() {
    if (!originalUrl) return;

    var response = await api.createUrl(originalUrl);
    shortedUrl = `${window.origin}/${response.shortKey}`;
  }

  function copy() {
    if (!shortedUrl) return;

    resultinput.select();
    resultinput.setSelectionRange(0, 99999);
    document.execCommand("copy");
    alert("copied");
  }
</script>

<style scoped>
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: #3d73dd;
  }

  .logo-text {
    text-align: center;
    color: white;
  }

  .cut-input {
    flex-grow: 1;
    text-align: center;
  }

  .btn {
    min-width: 120px;
    margin-left: 5px;
  }

  .shortener-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }

  .cut-url {
    display: flex;
  }

  @media only screen and (max-width: 500px) {
    .cut-url {
      flex-direction: column;
    }

    .btn {
      margin-left: 0;
    }

    #root {
      padding: 10px;
    }
  }
</style>

<div id="root">
  <div />

  <div class="shortener-form">
    <h1 class="logo-text">lnk.bexm.io</h1>
    <div class="cut-url">
      <input
        class="cut-input"
        placeholder="url for cut"
        type="text"
        bind:value={originalUrl} />
      <button class="btn" on:click={submit}>Cut</button>
    </div>
    {#if shortedUrl}
      <div class="cut-url">
        <input
          bind:this={resultinput}
          class="cut-input"
          type="text"
          readonly
          bind:value={shortedUrl} />
        <button class="btn" on:click={copy}>Copy</button>
      </div>
    {/if}
  </div>
  <div />
  <div />
  <div />

</div>
