html, body {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	height: 100vh;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 0;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

*:focus{
    outline: none;
}
input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


.btn {
	background: transparent;
	border: 4px solid white;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover{
	background: white;
	color: #3d73dd;
	border-color: transparent;
}

.btn:focus{
	border-color: white;
}

.btn:active{
	background-color: whitesmoke !important;
	border-color: whitesmoke !important;
}